* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat" !important;
    src: url(../recursos/fonts/Montserrat-Regular.ttf);
    /* font-weight: 800;
    font-style: bold !important; */
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
}

body {
    background: radial-gradient(#141447, #000000);
    display: flex;
    flex-direction: column;
}


/* 
.container-fluid {
    background: radial-gradient(#141447, #000005);
    z-index: 1;
}

.container-fluid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../recursos/BG.jpg);
    mix-blend-mode: normal;
    z-index: -1;
} */






.header {
    position: relative;
}

.contendorh1 {
    z-index: 1;
    display: flex;
    justify-content: center;
}


h1 {
    /* margin-left: 2.5em; */
    display: block;
    width: 200px;
    height: 100px;
    background-image: url("../recursos/logo/LogoDeepia.png");
    background-size: cover;
    text-indent: -9999px;
}


.lazoheader {
    position: absolute;
    max-height: 5px;
    min-height: 5px;
    background-color: #ce2e70;
    width: 100%;
    bottom: 50px;
    z-index: -1;
}



.contenedorHome {

    flex: 1;
    height: 100%;
    /* display: flex; */
    align-content: center;
}


/*ESTILOS NOSOTROS*/

#SectionNosotros {
    justify-content: center;
    text-align: center;
    padding-left: 2vw;

}


.bg_nosotros {
    background-color: #CF2F71;

    width: calc(100% - 17px);

}


.fotoangie-icon:hover .bg_nosotros {
    width: 200vw;
    background-color: yellow;
}

.fotoangie-icon {
    /* position: absolute; */
    min-width: calc(100% - 17px);
    right: 8px;
    bottom: 0;
    left: 9px;
    /* max-width: 100%; */
    overflow: hidden;
    height: 68px;
    object-fit: cover;
    background-color: #e5397b;
    border-radius: 10px;
}


.fotoangie-icon:hover {

    border: #e5397b 2px solid;
    background-color: #141444;
    box-shadow: 0 0 15px 2px rgba(229, 57, 123, .5);

}

.angie {

    border: 0;
    padding: 0;
    background-color: var(--fucsia-deepia);
    align-self: stretch;
    height: 85px;
    position: relative;
    border-radius: var(--br-3xs);
    z-index: 1;
}


.gian {
    border: 0;
    padding: 0;
    align-self: stretch;
    height: 85px;
    position: relative;
    border-radius: var(--br-3xs);
    z-index: 1;
}


.fotogian-icon {
    /* position: absolute; */
    min-width: calc(100% - 17px);
    right: 8px;
    bottom: 0;
    left: 9px;
    /* max-width: 100%; */
    overflow: hidden;
    height: 68px;
    object-fit: cover;
    background-color: #e5397b;
    border-radius: 10px;
}

.fotogian-icon:hover {

    border: #e5397b 2px solid;
    background-color: #141444;
    box-shadow: 0 0 15px 2px rgba(229, 57, 123, .5);

}


.fotojuli-icon {
    /* position: absolute; */
    min-width: calc(100% - 17px);
    right: 8px;
    bottom: 0;
    left: 9px;
    /* max-width: 100%; */
    overflow: hidden;
    height: 68px;
    object-fit: cover;
    background-color: #e5397b;
    border-radius: 10px;
}

.fotojuli-icon:hover {

    border: #e5397b 2px solid;
    background-color: #141444;
    box-shadow: 0 0 15px 2px rgba(229, 57, 123, .5);
}

.juli {
    border: 0;
    padding: 0;
    background-color: var(--fucsia-deepia);
    align-self: stretch;
    height: 85px;
    position: relative;
    border-radius: var(--br-3xs);
    z-index: 1;
}

.fotopachi-icon {
    /* position: absolute; */
    min-width: calc(100% - 17px);
    right: 8px;
    bottom: 0;
    left: 9px;
    /* min-width: 100%; */
    overflow: hidden;
    height: 68px;
    object-fit: cover;
    background-color: #e5397b;
    border-radius: 10px;
}

.fotopachi-icon:hover {

    border: #e5397b 2px solid;
    background-color: #141444;
    box-shadow: 0 0 15px 2px rgba(229, 57, 123, .5);
}

.pachi {
    border: 0;
    padding: 0;
    background-color: var(--fucsia-deepia);
    align-self: stretch;
    height: 85px;
    position: relative;
    border-radius: var(--br-3xs);
    z-index: 1;
}

.frameset-b,
.image-frame-b {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.frameset-b {
    width: 85px;
    gap: 10px 0;
    padding-bottom: 1em;
}




/*FIN ESTILOS NOSOTROS*/




/*ESTILOS IMAGENES INICIO*/

#contenedor_imagenes {
    text-align: center;
}


#contenedor_imagenes img {
    max-width: 10em;
    display: inline-block;
    margin: 1em;
    overflow: auto;
    border-radius: 15px;
    transition: .3s;
}

#contenedor_imagenes .min3d {
    border: 2px solid #187599;

}

#contenedor_imagenes .mindg {
    border: 2px solid #151778;

}

#contenedor_imagenes .minmotion {
    border: 2px solid #F1B800;

}

#contenedor_imagenes .minprog {
    border: 2px solid #791588;

}





#contenedor_imagenes img:hover {
    max-width: 10em;
    display: inline-flexbox;
    transform: scale(1.2);

}



/*FIN ESTILOS IMAGENES INICIO*/








/*ESTILOS RRSS*/


.rrss {
    margin-top: 1vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.rrss img {
    max-width: 40px;
}

.rrss a {
    padding: 1em 0;
    position: relative;
}

.rrss a:after {
    position: absolute;
    content: "";
    background-color: #e5397b;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: 5px;
    transition: .3s;
}


.rrss a:hover:after {
    width: 33%;

}




/*FIN ESTILOS RRSS*/



/*ESTILOS FOOTER*/

.footer {
    /* height: 10vw; */
    align-content: center;
    justify-content: center;
    color: white;
    text-align: center;
    /* position: absolute;
    bottom: 0px;
    left: 0;
    right: 0; */

}

.footer p {
    /* margin-top: 3vw; */
    padding: 3rem 0;
    font-size: 1.8em;
    font-weight: 300;
}



/*FIN ESTILOS FOOTER*/


@media (max-width: 991px) {

    .rrss {
        flex-direction: row;
        margin-bottom: 5vw;
    }


    .rrss a:hover:after {
        width: 100%;

    }


    /* .section-rrss {
        padding-left: 2.5vw;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        height: 100%;
        gap: 33px 33px;
        z-index: 1;
        padding: 5vw;
        margin-top: 5em;
        margin-bottom: 3em;
    } */


    #SectionNosotros {
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: row;

    }



    .frameset-b {
        width: 100%;
        gap: 0px 2vw;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;

    }


    #contenedor_imagenes img {
        max-width: 9em;
        display: inline-block;
        margin: 1em;
        overflow: auto;

    }

    #contenedor_imagenes img:hover {
        max-width: 9em;
        display: inline-flexbox;
        transform: scale(1.1);

    }



}



@media (max-width: 768px) {



    #contenedor_imagenes {
        margin-top: 0;
        padding: 0 15vw;
    }

    #contenedor_imagenes img {
        max-width: 24vw;
        display: inline-block;
        margin: 1em;
        overflow: auto;

    }



}




@media (max-width: 576px) {

    #contenedor_imagenes {
        margin-top: 0;
        padding: 0 10vw;
    }

    #contenedor_imagenes img {
        max-width: 30vw;
        display: inline-block;
        margin: 1em;
        overflow: auto;

    }

    .footer p {
        font-size: 1.3em
    }



}